/*---------- FONTS -------------*/

/*--------Specification--------*/

body {
	margin: 0;
	padding: 0;
    font-family: 'Sora', sans-serif;
	font-size: 16px;
    font-weight: 400;
    color: #000; 
}
.black-scr {
    position: absolute;
    content: '';
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100vh;
    left: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 7;
    background: rgba(0,0,0,0.7);
}

body.open .black-scr {
    opacity: 1;
}

body.open {
    overflow-y: hidden;
}
.wrap {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
	width: 1040px;
	margin: 0 auto;
}

li {
	display: block;
}

h1, h2, h3, h4, h5 {
	margin: 0;
    padding: 0;

}

div, p, ul, li, span, button, input, a, form,textarea {
	-webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	     box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
    color: #3e3e3e;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #4B2112;
}
.title-l {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #4B2112;
}

.title-m {
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #4B2112;
}

.title-s {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}

textarea:active,
textarea:focus {
    outline: none;
}

input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
} 

input {
  border: 0;
  outline: none;
}

.menu_btn {
    display: none;
}

.btn {
    background: #FFFFFF;
    border: 2px solid #FF7344;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    padding: 9px 24px;
    color: #FF7344;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.btn:hover {
    background: #ff8f69;   
    color: #fff;
}
.btn__sec {
    color: #fff;
    background: #FF7344;
}
.center {
    text-align: center;
}

/* ---------------breadcrumbs----------------- */

.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
    color: #B4958A;
    margin:103px 0 38px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.breadcrumbs__link {
    font-size: 14px;
    line-height: 16px;
    color: #B4958A;
    text-decoration: none;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}

.breadcrumbs__separator {
    margin: 0 10px;
}

/* -----------------------------Header---------------------------- */

.header {
    padding: 64px 0 0;
    position: relative;
}
.header__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.header__logo {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #4B2112;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__logo svg {
    margin-right: 10px;
}

.header__nav ul li:not(:last-child) {
    margin-right: 32px;
}
.header__nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__nav ul li a {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #FF7344;
}

/* ---main--- */

.main {
    padding: 102px 0 200px;
}
.main__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main__left {
    width: 58%;
}
.main__right {
    position: relative;
    width: 34%;
    margin-top: -22px;
}
.main__right::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(50% 50%, 50% 50%, #F98086 0%, rgba(249, 125, 133, 0) 86.98%);
    background: -moz-radial-gradient(50% 50%, 50% 50%, #F98086 0%, rgba(249, 125, 133, 0) 86.98%);
    background: -o-radial-gradient(50% 50%, 50% 50%, #F98086 0%, rgba(249, 125, 133, 0) 86.98%);
    background: radial-gradient(50% 50% at 50% 50%, #F98086 0%, rgba(249, 125, 133, 0) 86.98%);
    width: 512px;
    height: 449px;
    opacity: 0.25;
    -webkit-transform: rotate(-30deg);
       -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
         -o-transform: rotate(-30deg);
            transform: rotate(-30deg);
}
.main .title {
    margin-bottom: 23px;
}
.main p {
    margin-bottom: 46px;
    font-size: 16px;
    line-height: 24px;
    color: #4B2112;
}
.main .btn {
    padding: 14px 24px;
}

/* ---best-- */

.best {
    padding: 64px 0;
    background: #FFF0EB;
    position: relative;
}
.best::before,
.best::after {
    content: '';
    display: block;
    position: absolute;
    width: 1920px;
    height: 81px;
    background: url('../img/top.png') no-repeat center center / cover;
    left: 0;
}
.best::before {
    top: -81px;
}
.best::after {
    bottom: -81px;
    -webkit-transform: rotateZ(180deg);
       -moz-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
}
.best .title-l {
    margin-bottom: 8px;
}
.title__bot {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    color: #4B2112;
}
.best__wrap {
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(153, 73, 46, 0.2);
       -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(153, 73, 46, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(153, 73, 46, 0.2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    overflow: hidden;
}
.best__card {
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.best__card:not(:last-child) {
    border-bottom: 1px solid #E8E8E8;
}
.best__logo {
    width: 13%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 19px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.best__logo img {
    width: auto;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.best__descr {
    padding: 28px 0 36px 31px;
    width: 55%;
    border-left: 1px solid #E8E8E8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.best__link {
    font-size: 12px;
    line-height: 18px;
    color: #AD8B7F;
    margin-bottom: 8px;
}
.best__offer {
    margin-bottom: 8px;
    font-weight: 700;
    color: #4B2112;
}
.best__txt {
    font-size: 12px;
    line-height: 18px;
    color:#AD8B7F
}
.best__btns .btn:not(:last-child) {
    margin-right: 9px;
}

/* ---about--- */
.about {
    padding: 193px 0;
}
.about .center {
    margin-bottom: 64px;
}
[data-readmore] {
    -webkit-transition: height 100ms;
    -o-transition: height 100ms;
    -moz-transition: height 100ms;
    transition: height 100ms;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}
[data-readmore] + [data-readmore-toggle], [data-readmore][data-readmore] {
    display: block;
    width: 100%;
}
[data-readmore][aria-expanded="false"]:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(74.48%, #FFF));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #FFF 74.48%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #FFF 74.48%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #FFF 74.48%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 74.48%);
}

.wp-block-columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.wp-block-column {
    width: 47%;
}

.about__text h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 160%;
    margin-bottom: 16px;
    color: #4B2112;
}
.about__text h3:not(:first-child) {
    margin-top: 48px;
}
.about__text p {
    line-height: 27px;
    color: #4B2112;
}

[data-readmore]+a {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #FF7344;
    margin-top: 16px;
    text-transform: uppercase;
}
[data-readmore]+a:hover {
    text-decoration: none;
}


/* ---find--- */

.find {
    background: #FFF0EB;;
    padding: 64px 0 80px;
    position: relative;
}
.find::before,
.find::after {
    content: '';
    display: block;
    position: absolute;
    width: 1920px;
    height: 81px;
    background: url('../img/top.png') no-repeat center center / cover;
    left: 0;
}
.find::before {
    top: -81px;
}
.find::after {
    bottom: -81px;
    -webkit-transform: rotateZ(180deg);
       -moz-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
}
.find .title-l {
    margin-bottom: 48px;
}

.find__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -12px -12px 61px;
}
.find__card-wrap {
    padding: 12px;
    width: 33.3%;
}
.find__card {
    position: relative;
    padding: 0 0 74px;
    background: #FFFFFF;
    height: 100%;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.find__card-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 52px 0;
    border-bottom: 1px solid #E8E8E8;
}
.find__card-logo img {
    display: block;
}
.find__card-txt {
    padding: 16px 24px 0;
}
.find__card__btns {
    position: absolute;
    bottom: 24px;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0 24px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.find__card__btns .btn {
    width: 48%;
    padding: 9px 0;
    text-align: center;
}
.more__coupons {
    background: #FFF0EB;
    border: 2px solid #6C2811;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    padding: 20px 77px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #6C2811;
}
.more__coupons:hover {
    background: #FFF0EB;
    border: 2px solid #FF7344;
    color: #FF7344;
}


/* ---faq--- */

.faq {
    padding: 193px 0;
    position: relative;
}
.faq::before {
    content: '';
    display: block;
    position: absolute;
    width: 1920px;
    height: 81px;
    background: url('../img/top.png') no-repeat center center / cover;
    left: 0;
    bottom: 0;
}
.faq__wrap {
    width: 71%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(153, 73, 46, 0.2);
       -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(153, 73, 46, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(153, 73, 46, 0.2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    overflow: hidden;
}
.faq__card {
    cursor: pointer;
    padding: 36px 29px 34px 24px;
    background: #FFFFFF;
}
.faq__card:not(:last-child) {
    border-bottom: 1px solid #E8E8E8;
}
.faq__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    position: relative;
}
.faq__title svg {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.faq__title.open svg {
    -webkit-transform: rotateZ(180deg);
       -moz-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
}
.faq__title svg path {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.faq__title.open svg path{
    fill: #FF7344;
}
.faq__card p {
    display: none;
    line-height: 160%;
    margin-top: 16px;
    padding-right: 47px;
    font-size: 16px;
}
.faq .center {
    margin-bottom: 48px;
}


/* ---footer--- */

.footer {
    padding: 32px 0 112px;
    background:#FFF0EB;
}
.footer__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__logo {
    background: rgba(196,196,196,0.1);
    padding: 14px 47px;
    font-weight: 900;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    color: rgba(0, 0, 0, 0.2);
}
.footer__logo:hover {
    background: #FFFFFF;
    border: 1px solid rgba(255, 115, 68, 0.1);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    color: #FF7344;
}
.footer__txt {
    font-size: 14px;
    line-height: 16px;
    color: #B4958A;
}

/* ------COUPON----- */
.coupoffer {
    padding-bottom: 193px;
}

.coup__center {
    width: 60%;
    margin: 0 auto 40px;
}
.coupoffer__wrap {
    max-width: 743px;
    margin: 0 auto;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(153, 73, 46, 0.2);
       -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(153, 73, 46, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 5px 10px rgba(153, 73, 46, 0.2);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.coupoffer__card {
    padding: 0 24px;
    background: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #E8E8E8;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.coupoffer__logo {
    width: 21%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.coupoffer__link {
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
}
.coupoffer__name {
    display: block;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
}
.coupoffer__descr {
    width: 43%;
    padding: 27px 0 32px 24px;
}

.coupoffer__txt {
    padding: 42px 32px 32px;
    line-height: 160%;
    color: #4B2112;
}

.coupoffer__txt p:not(:last-child) {
    margin-bottom: 20px;
}
.coupoffer__txt p {
    line-height: 170%;
}
.coupoffer__txt h3 {
    margin-bottom: 16px;
    font-size: 22px;
}
.aboutus__txt {
    padding: 0;
    max-width: 695px;
    margin: 0 auto;
    color: #4B2112;
}

/* ----contacts--- */

.contacts {
    background:#FFF0EB;
    padding: 64px 0 112px;
    border-bottom: 1px solid #E7CAC1;
    position: relative;
    color: #4B2112;
}
.contacts::before {
    content: '';
    display: block;
    position: absolute;
    width: 1920px;
    height: 81px;
    background: url('../img/top.png') no-repeat center center / cover;
    left: 0;
    top: -81px;
}
.contacts__wrap {
    max-width: 695px;
    margin: 0 auto;
}

.contacts__header {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 160%;
}
.contacts__text {
    margin-bottom: 44px;
    line-height: 170%;
}
.contacts__text a {
    color: #FF7344;
    font-weight: 700;
}

.contacts__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.form__input-wrap {
    width: 48%;
}
.form__input-wrap:not(:last-of-type) {
    margin-bottom: 32px;
}
.form__textarea-wrap {
    width: 100%;
}
.form__input-tit {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 5px;
}
.form__input {
    background: #FFFFFF;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    width: 100%;
    display: block;
    resize: none;
    font-size: 16px;
    line-height: 160%;
    padding: 10px;
}

.form__textarea-wrap .form__input,
.form__textarea-wrap .form__input:focus {
    outline: none;
    border: none;
}
.form__textarea-wrap .form__input {
    height: 96px;
}
.contacts__form button {
    margin-top: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 17px 24px;
    letter-spacing: 0;
}


/* -------------404----------- */

.nopage {
    padding: 103px 0 309px;
    color: #4B2112;
    position: relative;
}
.nopage::before {
    content: '';
    display: block;
    position: absolute;
    width: 1920px;
    height: 81px;
    background: url('../img/top.png') no-repeat center center / cover;
    left: 0;
    bottom: 0;
}
.nopage__title {
    font-weight: 800;
    font-size: 150px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.nopage__titsm {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 16px;
    text-align: center;
}
.nopage p {
    line-height: 170%;
    margin-bottom: 70px;
    text-align: center;
}
.nopage a {
    padding: 17px 57px;
}